script(src="/lib/jquery.js")
script(src="/lib/jqueryui.js")
script(src="/lib/bootstrap.js")
link(href="/lib/bootstrap.css" rel="stylesheet")
link(rel="stylesheet" href="/lib/icon.css")
link(rel="stylesheet" href="/styles/style.css")